/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;

}

.logo {
    position: absolute;
    padding-top: 10px;
    padding-left: -2px;
    margin-left: 2px;
    max-width: 70px;
    max-height: 70px;
}

.logo img {
    width: 100%;
    height: auto;
}

    
.menu {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-top: 10px;
}

#hebergements {
    
    padding-top: 15px;
}

#space {
    padding-right: 60px
}
/*
#activites {
    padding-top: 15px; 

}*/

#hebergements:hover {
    /*text-decoration: overline #0065FC solid 2px ;
    color: #0065FC;*/
    
    padding-top: 15px;
    border-top-style: solid;
    border-top-color: #0065FC ;
    color: #0065FC;
    width: fit-content;
}

#activites:hover {
    /*text-decoration: overline #0065FC solid 2px  ;
    color: #0065FC;*/
    padding-top: 15px;
    border-top-style: solid;
    border-top-color: #0065FC ;
    color: #0065FC;
    width: fit-content;
}

#locationlogo {
    border-radius: 10px 0px 0px 10px;
    border-top: #F2F2F2 solid 2px;
    border-left:  #F2F2F2 solid 2px;
    border-right:  #F2F2F2 solid 2px;
    border-bottom: #F2F2F2 solid 2px;
    padding: 7.25px 12px 7.25px 12px;
    background-color: #F2F2F2;
}
#maintitle {
    padding-top: 30px;
    margin-left: -2px;
}

#resume-maintitle {
    margin-top: -15px;
}

.lieu {
    border-radius: 0%;
    border-top: #F2F2F2 solid 1px;
    border-left: none;
    border-right: none;
    border-bottom: #F2F2F2 solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    color: black;
}


::placeholder {
    text-align: center; 
    color: black;
 }

.rechercher {
    background-color: #0065FC;
    border-color: #0065FC;
    border-style: none;
    border-radius: 0px 10px 10px 0px;
    color: white;
    font-weight: bold;
    margin-left: -4px;
    padding-top: 10.5px;
    padding-bottom: 10.5px;
    padding-left: 10.5px;
    padding-right: 10.5px;
}

.form {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
#filtersection {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    
    
}
#filtertitle {
    font-weight: bold;
    margin-right: 15px;
}

#mybtncontainer {
    margin-right: 20px;
    
}

.filterbutton {
    border: #D9D9D9 solid 2px;
    border-radius: 15px 15px 15px 15px;
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 5px 5px 6px 8px;
    
}
.btn {
    border: none;
    background-color: white;
    font-weight: bold;
    padding-bottom: 2px;
}
#i {
    border: #F2F2F2 solid 1px ;
    border-radius: 15px;
    padding: 2px 8px 2px 8px;
}

#info-section {
    margin-top: 35px;
    margin-bottom: 20px;
    margin-left: -2px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/****** Cards ***********/

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 55%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-hbgt {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: auto;
    max-height: fit-content;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.hebergements-cards .card-hbgt {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 33px;
}

.hebergements-cards img {
    width: auto;
    max-height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}
/****** Populaires ***********/
.populaires {
    width: 41%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ***********/

#activites-section-title {
    padding-left: 10px;
}
#activites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    

}
.card-activites {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 15%;
    max-height: fit-content;
}

.card-activites img {
    width: 99%;
    max-height: 90%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--main-bg-color);
}

.a-propos {
    padding-left: 20px;
}

.assistance {
    padding-right: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}











/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}